body {
    background-color: white;

}

#centerContent {

    width: 900px;
    padding: 5px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
    text-align: center;
}
header{
    background-color: white;
    height:25px;
    margin:auto;


}
footer {
    background-color: white;
    height:25px;
    margin:auto;
    color: white;
    background-color: #333;
    text-decoration: none;
}
footer a {
    background-color: white;
    height:25px;
    margin:auto;
    color: white;
    background-color: #333;
    text-decoration: none;
}
#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;

}

#menu li {
    float: left;
}

#menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#menu li hover {
    background-color: #111;
}
input[name=search] {
    margin-right: 25px;
    width: 250px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[name=search]:focus {
    width: 25%;
}
form {
    text-align: left;
    margin-left: 25px;
    color: grey;

}
input[name=uName], [name=fName], [name=lName], [name=email], [name=pass], [name=pass1], [name=pass2]  {

    width: 700px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;

}

input[type=submit]{
    background-color: lightskyblue;
    height:35px;
    margin-left: 400px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#error{

    background-color: lightcoral;
}
#buy{
    display: inline-block;
    margin-left: 5px;
    background-color: white;
    padding: 5px;
    height:400px;
    width: 200px;
    text-align: center;  
    color: white;
    font-family: impact;
    font-size: 43px;
    border: solid 1px;
    border-color: #ccc;
    text-align: center;
    vertical-align: middle;
    line-height: 300px;   
    text-decoration: none;
}

#reg{
    display: inline-block;
    margin-left: 5px;
    background-color: white;
    padding: 5px;
    height:400px;
    width: 200px;
    text-align: center;  
    color: white;
    text-decoration: none;
    font-family: impact;
    font-size: 43px;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;

    line-height: 300px;  
    border: solid 1px;
    border-color: #ccc;
}
#buy  a:link {
    color: grey;
    text-decoration:none;
}
#buyitbutton {
    margin-left: 50px;
    margin-top: 75px;
    background-color: lightskyblue;
    border: 1px solid #ccc;
    border-radius: 4px;
    position: absolute;
    height:25px;
    width:100px;
}
#sellbutton {
    margin-left: 50px;
    margin-top: 85px;
    background-color: lightskyblue;
    border: 1px solid #ccc;
    border-radius: 4px;
    position: absolute;
    height:25px;
    width:100px;
    
}
#reg  a:link {
    color: grey;
    text-decoration:none;
}
#browse  a:link {
    color: grey;
    text-decoration:none;
}
#browse{
    display: inline-block;
    margin-left: 5px;
    background-color: white;
    padding: 5px;
    height:400px;
    width: 200px;
    text-align: center;  
    color: white;
    font-family: impact;
    font-size: 43px;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    line-height: 300px; 
    border: solid 1px;
    border-color: #ccc;
}

#listing{
    display: inline-block;
    margin-left: 5px;
    margin-top: 10px;
    background-color: white;
    padding: 5px;
    height:400px;
    width: 200px;
    vertical-align: middle;
    border: solid 1px;
    border-color: #ccc;
    text-align: left;
    color: #333;
    
}



#pimage{
    text-align: center;
}

input[name=name], [name=image], [name=description], [name=location], [name=price]{

    width: 700px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;

}