{% extends "master.html.twig" %}

{% block title %}Internal error{% endblock %}

{% block content %}
    <h1>Internal error</h1>
    <img src="/media/ninja.png" width="150">
    <p>We're very sorry, we failed to fulfill your request.
        Our team of coding black ninjas has already
        been notified of your trouble.</p>
    <p><a href="/">Click here</a> to continue</p>
    
{% endblock %}