{% extends "master.html.twig" %}

{% block title %}APE SAVE{% endblock %}

{% block content %}
    

    {% if sessionUser %}
        <p>Hello, {{sessionUser.uName}} {{sessionUser.email}}.
        
        <br>
        <p><div id="buy"><a href="/sell">SELL</a></div><div id="browse"><a href="/products">SHOP</a></div></p>
    
{% else %}
    <h1>Welcome to Ape Save</h1>
<p><div id="buy"><a href="/sell">SELL</a></div><div id="reg"><a href="/register">REGISTER</a></div><div id="browse"><a href="/products">SHOP</a></div></p>
{% endif %}

{% endblock %}
