{% extends "master.html.twig" %}

{% block title %}APE SAVE{% endblock %}

{% block content %}
    
<h1>Welcome to Ape Save</h1>
{% if sessionUser %}
    <p>Hello {{sessionUser.name}} ({{sessionUser.email}}).
        <a href="/sell">Click to sell</a> You may <a href="/logout">logout</a>.</p>
{% else %}
<p><a href="/login">BUY/SELL</a> or <a href="/register">REGISTER</a> or <a href="/products">BROWSE</a></p>
{% endif %}

{% endblock %}
