{% extends "master.html.twig" %}

{% block title %}APE SAVE{% endblock %}

{% block content %}
    
<h1>Welcome to Ape Save</h1>
{% if sessionUser %}
    <p>Hello {{sessionUser.name}} ({{sessionUser.email}}).
        <a href="/sell">Click to sell</a> You may <a href="/logout">logout</a>.</p>
{% else %}
<p><div id="buy"><a href="/login">BUY/SELL</a></div><div id="reg"><a href="/register">REGISTER</a></div><div id="browse"><a href="/products">BROWSE</a></div></p>
{% endif %}

{% endblock %}
