{% extends "master.html.twig" %}

{% block title %}Successful registration{% endblock %}

{% block content %}

    <h1>Login</h1>
    {% if sessionUser %}
        <p> YOU ARE ALREADY LOGGED IN! <br>
            Would you like to <a href="/myaccount">go to your account</a> OR <a href="/logout">logout</a>
    
    
    {% else %}
        
    {% if loginFailed %}
        <p>Invalid username or password</p>
    {% endif %}

    <form method="post">
        Email:<br> <input type="text" name="email"><br>
        Password:<br> <input type="password" name="pass"><br>
        <input type="submit" value="Login">
    </form>
{% endif %}
{% endblock %}
