<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/styles.css" />
        <title>{% block title %}{% endblock %}</title>
        {% block head %}
        {% endblock %}
    </head>
    <header><div id="menu"><ul><li><a href="/index">Home</a></li><li><a href="/products">Shop</a></li><li><a href="/login">Buy</a></li><li><a href="/login">Sell</a></li><li><a href="/login">My Account</a></li><li><a href="/login">Contact Us</a></li></ul></div><input type="text" name="search" placeholder="Search..">
    </header>
    <body>
        
        <div id="centerContent">
            <div id="content">{% block content %}{% endblock %}</div>
            <div id="footer">                
                    &copy; Copyright 2016 by <a href="http://domain.invalid/">you</a>.
            </div>
        </div>
    </body>
</html>