<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/styles.css" />
        <title>{% block title %}{% endblock %}</title>
        {% block head %}
        {% endblock %}
    </head>
    <body>
        <div id="menu">{% block menucontent %}<ul><li>Home</li><li>Shop</li><li>Buy</li><li>Sell</li><li>My Account</li><li>Contact Us</li></ul>{% endblock %}</div>
        <div id="centerContent">
            <div id="content">{% block content %}{% endblock %}</div>
            <div id="footer">                
                    &copy; Copyright 2016 by <a href="http://domain.invalid/">you</a>.
            </div>
        </div>
    </body>
</html>