{% extends "master.html.twig" %}

{% block head %}<h1>Item Posted Successfully</h1>{% endblock %}

{% block content %}
{% if errorList %}
    <ul>
    {% for error in errorList %}
        <li>{{ error }}</li>
    {% endfor %}
    </ul>
{% endif %}

<p>The add: [{{description}}, it's {{price}}$ ]
   was successfully added.
</p>
<a href="/">Click to continue</a>

{% endblock %}
