{% extends "master.html.twig" %}



{% block content %}
    {% if sessionUser %}   
        {% if errorList %}
            <ul>
                {% for error in errorList %}
                    <li>{{ error }}</li>
                    {% endfor %}
            </ul>
        {% endif %}

        <form  method="post" enctype="multipart/form-data">
            <!--No Post get for image in index file-->
            <h1>Sell Item</h1>
            Product Name:<br> <input type="text" name="pName"><br>
            Image:<br> <input type="file" name="image"><br> 
            Description:<br> <textarea cols="20" rows="4" name="description">{{v.description}}</textarea><br>
            Price:<br> <input type="text" name="price" value="{{v.price}}"><br>
            Location:<br> <input type="text" name ="location" value="{{v.location}}"><br>
            <input type="submit" value="postadd">
        </form>
    {% else %}
        <p>Please login to sell</p>
        <a href="/login">Login</a>
    {% endif %}
{% endblock %}

