{% extends "master.html.twig" %}

{% block head %}<h1>Sell Item</h1>{% endblock %}

{% block content %}
{% if errorList %}
    <ul>
    {% for error in errorList %}
        <li>{{ error }}</li>
    {% endfor %}
    </ul>
{% endif %}

<form action="upload.php" method="post" enctype="multipart/form-data">
    <!--No Post get for image in index file-->
    Product Name: <input type="text" name="pName"><br>
    Image: <input type="file" name="image"><br> 
    Description: <textarea cols="20" rows="4" name="description">{{v.description}}</textarea><br>
    Price: <input type="text" name="price" value="{{v.price}}"><br>
    Location:<input type="text" name ="location" value="{{v.location}}"><br>
    <input type="submit" value="postadd">
</form>

{% endblock %}

